streamlit
pandas
numpy
scikit-learn
Pillow
opencv-python
ffmpeg-python
pydub
langchain
torch
torchvision
foolbox[torch]
cleverhans
pyyaml
requests
feedparser
websockets
docker
psutil
# ml-privacy-meter  <-- REMOVE this line!
